In [173]:
# import project directory helper
import os, sys, inspect
currentDir = os.getcwd()
parentDir = os.path.dirname(currentDir)
sys.path.insert(0, parentDir)

In [22]:
# import pyspark packages
# from pyspark import SparkContext
# from pyspark.sql import SQLContext
# set the kafka dependencies before create spark context or session
import os
os.environ[
    'PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-streaming-kafka-0-8_2.11:2.4.4,org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.4 pyspark-shell'
from pyspark.sql import SparkSession, functions, types
from pyspark.sql.types import *

In [187]:
# import util packages
from IPython.display import display
import pandas as pd

In [34]:
# sc = sc(appName="attraction")
# sqlContext = SQLContext(sc)
# import spark packages
spark = SparkSession.builder.appName("attraction").getOrCreate()

# tripadvisor_attr_href_cat

In [7]:
# define path
tripad_attr_path = parentDir + '/crawler/datasets/tripadvisor_dataset/attractions/'
parquet_path = parentDir + '/crawler/datasets/tripadvisor_dataset/spark/'

In [6]:
# read json as spark dataframe
attr_href_cat_spark_df = spark.read.json(tripad_attr_path +
                                         'tripadvisor_attr_href_cat.json')
# attr_href_cat_df = pd.read_json(tripadvisor_attr_href_cat, orient='records')

In [7]:
# write spark dataframe to parquet
attr_href_cat_spark_df.write.parquet(parquet_path +
                                     'tripadvisor_attr_href_cat',
                                     mode='overwrite')

In [8]:
# read spark dataframe from parquet
attr_href_cat_spark_df = spark.read.parquet(parquet_path + 'tripadvisor_attr_href_cat')

In [9]:
# convert spark dataframe to pandas dataframe
attr_href_cat_df = attr_href_cat_spark_df.toPandas()

In [10]:
# add activityId, locationId columns to dataframe
attr_href_cat_df['activityId'] = attr_href_cat_df['href'].str.extract(
    r'd(\d+)', expand=True)
attr_href_cat_df['locationId'] = attr_href_cat_df['href'].str.extract(
    r'g(\d+)', expand=True)

In [11]:
# rearrange pandas dataframe columns order
attr_href_cat_df_cl = ['activityId', 'locationId', 'href',
                       'category']  # columns order
attr_href_cat_df = attr_href_cat_df.reindex(columns=attr_href_cat_df_cl)

In [12]:
# visualize pandas dataframe
display(attr_href_cat_df.count())
display(attr_href_cat_df.head())

activityId    4257
locationId    4257
href          4260
category      4260
dtype: int64

,activityId,locationId,href,category
0,NaN,NaN,None,None
1,12962337,298570,/AttractionProductReview-g298570-d12962337-Mal...,"[featured_tours_and_tickets, luxury_special_oc..."
2,12905660,298570,/AttractionProductReview-g298570-d12905660-Pet...,"[featured_tours_and_tickets, sightseeing_ticke..."
3,11807013,298570,/AttractionProductReview-g298570-d11807013-Dis...,"[featured_tours_and_tickets, private_custom_to..."
4,12471375,298570,/AttractionProductReview-g298570-d12471375-Gen...,"[featured_tours_and_tickets, luxury_special_oc..."

In [13]:
# showing and removing duplicate value
print('Duplicated values:')
print(attr_href_cat_df[attr_href_cat_df['activityId'].duplicated(keep=False)])
print()
print('Length before removing duplicated values: ' +
      str(len(attr_href_cat_df)))

Duplicated values:
     activityId locationId                                               href  \
0           NaN        NaN                                               None
376         NaN        NaN  /AttractionProductReview?partner=Viator&produc...
1339        NaN        NaN  /AttractionProductReview?partner=Viator&produc...
1945        NaN        NaN  /AttractionProductReview?partner=Viator&produc...
4261        NaN        NaN                                               None

                                       category
0                                          None
376    [classes_workshops, food_wine_nightlife]
1339                       [outdoor_activities]
1945  [private_custom_tours, tours_sightseeing]
4261                                       None

Length before removing duplicated values: 4262

In [14]:
# # dropping duplicate values
attr_href_cat_df = attr_href_cat_df.drop_duplicates(subset='activityId',
                                                    keep=False)
print('Length after removing duplicated values: ' + str(len(attr_href_cat_df)))

Length after removing duplicated values: 4257

In [15]:
# dropping nan values
attr_href_cat_df = attr_href_cat_df.dropna()
print('Length after removing NaN values: ' + str(len(attr_href_cat_df)))

Length after removing NaN values: 4257

In [16]:
# create spark dataframe from pandas dataframe
attr_href_cat_spark_df = spark.createDataFrame(attr_href_cat_df)

In [34]:
# visualize spark dataframe
display(attr_href_cat_spark_df.count())
attr_href_cat_spark_df.show()

4257

+----------+----------+--------------------+--------------------+
|activityId|locationId|                href|            category|
+----------+----------+--------------------+--------------------+
|  12962337|    298570|/AttractionProduc...|[featured_tours_a...|
|  12905660|    298570|/AttractionProduc...|[featured_tours_a...|
|  11807013|    298570|/AttractionProduc...|[featured_tours_a...|
|  12471375|    298570|/AttractionProduc...|[featured_tours_a...|
|  12469580|    298570|/AttractionProduc...|[featured_tours_a...|
|  16722683|    298570|/AttractionProduc...|[featured_tours_a...|
|  11454341|   1096277|/AttractionProduc...|[featured_tours_a...|
|  11812460|    298570|/AttractionProduc...|[featured_tours_a...|
|  11992275|   1096277|/AttractionProduc...|[featured_tours_a...|
|  11991123|    660694|/AttractionProduc...|[featured_tours_a...|
|  11482502|    298570|/AttractionProduc...|[featured_tours_a...|
|  19350513|    635527|/AttractionProduc...|[featured_tours_a...|
|  11474972|    298303|/AttractionProduc...|[featured_tours_a...|
|  12648212|    298307|/AttractionProduc...|[featured_tours_a...|
|  11470871|    298570|/AttractionProduc...|[featured_tours_a...|
|  12468200|    298570|/AttractionProduc...|[featured_tours_a...|
|  12934938|    303997|/AttractionProduc...|[featured_tours_a...|
|  11452959|    298570|/AttractionProduc...|[featured_tours_a...|
|  16749910|    298283|/AttractionProduc...|[featured_tours_a...|
|  12939362|    303997|/AttractionProduc...|[featured_tours_a...|
+----------+----------+--------------------+--------------------+
only showing top 20 rows

# tripad_attr_activity

In [18]:
# define path
tripad_attr_path = parentDir + '/crawler/datasets/tripadvisor_dataset/attractions/'
parquet_path = parentDir + '/crawler/datasets/tripadvisor_dataset/spark/'

In [19]:
# read json as spark dataframe
tripad_act_spark_df = spark.read.json(tripad_attr_path +
                                      'tripad_attr_activity.json')

In [20]:
# write spark dataframe to parquet
tripad_act_spark_df.write.parquet(parquet_path + 'tripad_attr_activity',
                                  mode='overwrite')

In [21]:
# read spark dataframe from parquet
tripad_act_spark_df = spark.read.parquet(parquet_path + 'tripad_attr_activity')

In [22]:
# drop unwanted columns
tripad_act_spark_df = tripad_act_spark_df.drop('__COMMENT')
tripad_act_spark_df = tripad_act_spark_df.dropna(subset='productHeader')

In [23]:
# select disired columns
tripad_act_spark_df = tripad_act_spark_df.select(
    tripad_act_spark_df.productHeader.activityId.alias("activityId"),
    tripad_act_spark_df.productHeader.productTitle.alias("name"),
    tripad_act_spark_df.tourPlanner.numericPrice.alias("price"),
    tripad_act_spark_df.productHeader.reviewRating.alias("rating"))

In [33]:
# visualize spark dataframe
display(tripad_act_spark_df.count())
tripad_act_spark_df.show()

4257

+----------+--------------------+------+------+
|activityId|                name| price|rating|
+----------+--------------------+------+------+
|  12962337|Malaysia Countrys...| 43.27|   4.5|
|  12905660|Petronas Twin Tow...|119.49|   4.0|
|  11807013|Discover the Best...|142.75|   4.5|
|  12471375|Genting Highlands...|103.01|   4.5|
|  12469580|Half-Day Kuala Lu...| 43.27|   4.0|
|  16722683|KL Hop On Hop Off...| 53.07|   3.0|
|  11454341|Langkawi Archipel...|515.06|   5.0|
|  11812460|Private Half-Day ...|377.67|   5.0|
|  11992275|12 Flights: Zipli...|473.86|   5.0|
|  11991123|Cheong Fatt Tze G...| 20.61|   4.5|
|  11482502|Batik Bag Paintin...|119.49|   5.0|
|  19350513|Chef Samuel's Pri...|700.48|   5.0|
|  11474972|Half-Day Penang C...|115.81|   5.0|
|  12648212|North Borneo Crui...|222.48|   4.5|
|  11470871|Hot Air Balloon F...|947.71|   5.0|
|  12468200|Private Tour: Kua...|407.98|   5.0|
|  12934938|Kinabatangan Rive...|568.63|   5.0|
|  11452959|Small-Group Food ...|243.14|   5.0|
|  16749910|Langkawi Half Day...| 74.18|   4.0|
|  12939362|Private Full Day ...|412.11|   4.5|
+----------+--------------------+------+------+
only showing top 20 rows

# tripad_attr_location

In [25]:
# define path
tripad_attr_path = parentDir + '/crawler/datasets/tripadvisor_dataset/attractions/'
parquet_path = parentDir + '/crawler/datasets/tripadvisor_dataset/spark/'

In [26]:
# read json as spark dataframe
tripad_loc_spark_df = spark.read.json(tripad_attr_path +
                                      'tripad_attr_location.json')

In [27]:
# write spark dataframe to parquet
tripad_loc_spark_df.write.parquet(parquet_path + 'tripad_attr_location',
                                  mode='overwrite')

In [28]:
# read spark dataframe from parquet
tripad_loc_spark_df = spark.read.parquet(parquet_path + 'tripad_attr_location')

In [29]:
# drop unwanted columns
tripad_loc_spark_df = tripad_loc_spark_df.drop('__COMMENT')
tripad_loc_spark_df = tripad_loc_spark_df.dropna(subset='location_id')

In [30]:
# select disired columns
tripad_loc_spark_df = tripad_loc_spark_df.select(
    tripad_loc_spark_df.location_id.alias("locationId"),
    tripad_loc_spark_df.name.alias("city"),
    tripad_loc_spark_df.ancestors[0]['name'].alias("state"),
    tripad_loc_spark_df.parent_display_name.alias("country"),
    tripad_loc_spark_df.latitude.alias("latitude"),
    tripad_loc_spark_df.longitude.alias("longitude"))

In [32]:
# visualize spark dataframe
display(tripad_loc_spark_df.count())
tripad_loc_spark_df.show()

98

+----------+--------------------+--------------------+-----------------+--------+---------+
|locationId|                city|               state|          country|latitude|longitude|
+----------+--------------------+--------------------+-----------------+--------+---------+
|    298570|        Kuala Lumpur| Wilayah Persekutuan|         Malaysia|3.156802|101.69717|
|   1096277|                Kuah|            Langkawi|         Malaysia|6.326672|99.843025|
|    660694|       Penang Island|              Penang|         Malaysia|5.388071|100.29352|
|    635527|      Batu Ferringhi|       Penang Island|         Malaysia|5.471783|100.24629|
|    298303|         George Town|       Penang Island|         Malaysia|5.411938|100.32664|
|    298307|       Kota Kinabalu|Kota Kinabalu Dis...|         Malaysia|5.979383|116.07349|
|    303997|            Sandakan|   Sandakan Division|         Malaysia|5.838944|118.11561|
|    298283|            Langkawi|   Langkawi District|         Malaysia|6.351074| 99.75824|
|    298313|       Petaling Jaya|   Petaling District|         Malaysia| 3.10363|101.64778|
|    666315|           Cherating|    Kuantan District|         Malaysia|4.133792|103.38026|
|   2006071|              Tuaran|               Sabah|         Malaysia|6.176577|116.23315|
|    298277|               Johor|            Malaysia|         Malaysia|1.889306|103.42438|
|   1497917|          Tanah Rata|   Cameron Highlands|         Malaysia|4.472036|101.37731|
|    298308|             Sarawak|            Malaysia|         Malaysia|2.310777|112.50697|
|    293938| Bandar Seri Begawan|Brunei-Muara Dist...|Brunei Darussalam|  4.8919|114.94044|
|    298298|                Ipoh|      Kinta District|         Malaysia| 4.59725|101.12015|
|    294265|           Singapore|           Singapore|        Singapore|1.285801|103.85111|
|   1022648|               Klang|            Selangor|         Malaysia|3.039726|101.44049|
|   1483707|Gunung Mulu Natio...|             Sarawak|         Malaysia|4.065645|114.93267|
|    795950|               Tapah|Batang Padang Dis...|         Malaysia|4.198387|101.26153|
+----------+--------------------+--------------------+-----------------+--------+---------+
only showing top 20 rows

In [35]:
# convert spark dataframe to pandas dataframe
tripad_loc_df = tripad_loc_spark_df.toPandas()

In [36]:
# visualize pandas dataframe
display(tripad_loc_df.count())
pd.set_option('display.max_rows', None)
display(tripad_loc_df)
pd.reset_option('display.max_rows')

locationId    98
city          98
state         97
country       98
latitude      97
longitude     97
dtype: int64

,locationId,city,state,country,latitude,longitude
0,298570,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717
1,1096277,Kuah,Langkawi,Malaysia,6.326672,99.843025
2,660694,Penang Island,Penang,Malaysia,5.388071,100.29352
3,635527,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629
4,298303,George Town,Penang Island,Malaysia,5.411938,100.32664
5,298307,Kota Kinabalu,Kota Kinabalu District,Malaysia,5.979383,116.07349
6,303997,Sandakan,Sandakan Division,Malaysia,5.838944,118.11561
7,298283,Langkawi,Langkawi District,Malaysia,6.351074,99.75824
8,298313,Petaling Jaya,Petaling District,Malaysia,3.10363,101.64778
9,666315,Cherating,Kuantan District,Malaysia,4.133792,103.38026
10,2006071,Tuaran,Sabah,Malaysia,6.176577,116.23315
11,298277,Johor,Malaysia,Malaysia,1.889306,103.42438
12,1497917,Tanah Rata,Cameron Highlands,Malaysia,4.472036,101.37731
13,298308,Sarawak,Malaysia,Malaysia,2.310777,112.50697
14,293938,Bandar Seri Begawan,Brunei-Muara District,Brunei Darussalam,4.8919,114.94044
15,298298,Ipoh,Kinta District,Malaysia,4.59725,101.12015
16,294265,Singapore,Singapore,Singapore,1.285801,103.85111
17,1022648,Klang,Selangor,Malaysia,3.039726,101.44049
18,1483707,Gunung Mulu National Park,Sarawak,Malaysia,4.065645,114.93267
19,795950,Tapah,Batang Padang District,Malaysia,4.198387,101.26153
20,1540663,Limbang,Sarawak,Malaysia,4.75471,115.00896
21,2213880,Gopeng,Kampar District,Malaysia,4.47397,101.16691
22,3539442,Poring,Ranau,Malaysia,6.0578,116.7047
23,635753,Semporna,Semporna District,Malaysia,4.47758,118.60969
24,667099,Kuala Tahan,Jerantut District,Malaysia,4.38195,102.40177
25,298314,Sepang,Sepang District,Malaysia,2.69093,101.75114
26,12803532,Port Klang,Selangor,Malaysia,2.999852,101.39283
27,2053325,Pantai Tengah,Langkawi,Malaysia,6.281019,99.729836
28,298309,Kuching,Sarawak,Malaysia,1.52022,110.35362
29,660784,Genting Highlands,Pahang,Malaysia,3.423833,101.79217
30,298278,Johor Bahru,Johor Bahru District,Malaysia,1.473394,103.75248
31,1087671,Ampang,Selangor,Malaysia,3.156205,101.75031
32,4975755,Teluk Bahang,Penang Island,Malaysia,5.449866,100.21595
33,1075066,Sepilok,Sandakan Division,Malaysia,5.866727,117.95548
34,666954,Sri Kembangan,Petaling District,Malaysia,3.01511,101.6992
35,306997,Melaka,Central Melaka District,Malaysia,2.206847,102.25327
36,298316,Shah Alam,Petaling District,Malaysia,3.09201,101.49428
37,3198092,Batu Caves,Selangor,Malaysia,3.242071,101.66702
38,2054893,Bako National Park,Sarawak,Malaysia,1.52022,110.35362
39,7383070,Cheras,Selangor,Malaysia,3.060724,101.7638
40,298291,Pahang,Malaysia,Malaysia,3.62074,102.59239
41,3522354,Balik Pulau,Penang Island,Malaysia,5.34916,100.23938
42,303998,Miri,Miri District,Malaysia,4.320708,113.99225
43,2108703,Bario,Miri District,Malaysia,3.740196,115.46635
44,298302,Penang,Malaysia,Malaysia,5.42382,100.32765
45,1379342,Kuala Besut,Besut District,Malaysia,5.82808,102.55401
46,298293,Brinchang,Cameron Highlands,Malaysia,4.48919,101.39085
47,1096282,Pantai Cenang,Langkawi,Malaysia,6.290657,99.72765
48,303993,Pulau Tioman,Rompin District,Malaysia,None,None
49,303991,Port Dickson,Negeri Sembilan,Malaysia,2.52411,101.79417
50,4340243,Penampang,Sabah,Malaysia,5.877649,116.1034
51,298320,Kuala Terengganu,Terengganu,Malaysia,5.330257,103.13776
52,11981134,Gambang,Kuantan District,Malaysia,3.707709,103.10287
53,12904412,Pulau Carey,Selangor,Malaysia,2.860474,101.3658
54,298305,Putrajaya,Wilayah Persekutuan,Malaysia,2.9365,101.69156
55,1436004,Kota Tinggi,Kota Tinggi District,Malaysia,1.72844,103.89902
56,7741481,Bongawan,Sabah,Malaysia,5.507984,115.87458
57,298292,Cameron Highlands,Pahang,Malaysia,4.46997,101.474
58,1777471,Kuala Selangor,Selangor,Malaysia,3.3405,101.25001
59,298286,Labuan Island,Sabah,Malaysia,5.298827,115.23136
60,2037761,Banting,Kuala Langat District,Malaysia,2.80483,101.49479
61,1500185,Katunayake,Negombo,Sri Lanka,7.15966,79.87023
62,1062560,Ayer Keroh,Central Melaka District,Malaysia,2.265809,102.28505
63,298287,Melaka State,Malaysia,Malaysia,2.20356,102.25293
64,3336465,Tamparuli,Sabah,Malaysia,6.13333,116.26667
65,9584421,Pulau Tiga,Kuala Penyu,Malaysia,5.725684,115.65133
66,298306,Sabah,Malaysia,Malaysia,5.176992,117.13721
67,3845613,Kundasang,Ranau,Malaysia,5.984363,116.57557
68,293951,Malaysia,None,Asia,3.480287,102.47243
69,294078,Georgetown,Demerara-Mahaica,Guyana,6.8,-58.1667
70,3533821,Tawau,Tawau Division,Malaysia,4.2498,117.8871
71,1720863,Kota Belud,Kota Belud District,Malaysia,6.35503,116.42969
72,303992,Bukit Fraser,Raub District,Malaysia,3.71645,101.73812
73,2301861,Bentong,Pahang,Malaysia,3.464074,101.92131
74,304000,Marang,Terengganu,Malaysia,5.207117,103.20231
75,1193625,Bayan Lepas,Penang Island,Malaysia,5.294487,100.25968
76,298419,Salalah,Dhofar Governorate,Oman,17.01493,54.09302
77,297913,Arusha,Arusha Region,Tanzania,-3.37088,36.70122
78,1675220,Sematan,Lundu,Malaysia,1.79517,109.75138
79,298284,Kelantan,Malaysia,Malaysia,6.13544,102.23671
80,294212,Beijing,China,China,39.909336,116.39452
81,1118267,Puchong,Petaling District,Malaysia,3.021212,101.61456
82,1071672,Pulau Manukan,Sabah,Malaysia,5.974077,116.00006
83,6384767,Pantai Kok,Langkawi,Malaysia,6.366303,99.67422
84,304003,Pulau Perhentian Besar,Perhentian Islands,Malaysia,5.904459,102.75642
85,298279,Mersing,Mersing District,Malaysia,2.41956,103.83692
86,298281,Kedah,Malaysia,Malaysia,6.13164,100.38878
87,1813816,Kajang,Hulu Langat District,Malaysia,2.99322,101.78887
88,298282,Alor Setar,Kota Setar District,Malaysia,6.132434,100.38264
89,298297,Perak,Malaysia,Malaysia,4.707828,100.84808
90,14901990,Kuala Kurau,Kerian District,Malaysia,5.018007,100.43176
91,298317,Subang Jaya,Petaling District,Malaysia,3.040402,101.58413
92,2431626,Rawang,Selangor,Malaysia,3.31759,101.57802
93,298296,Kuantan,Kuantan District,Malaysia,3.8963,103.02256
94,298299,Lumut,Manjung District,Malaysia,4.23588,100.63342
95,1450229,Batu Gajah,Kinta District,Malaysia,4.46308,101.04095
96,297889,Incheon,South Korea,South Korea,37.478092,126.64029
97,1905494,Tanjung Bungah,Penang Island,Malaysia,5.467405,100.29242

###### Join attr_href_cat_spark_df, tripad_act_spark_df as attr_spark_df

In [49]:
# join dataframe
attr_spark_df = attr_href_cat_spark_df.join(
                    tripad_act_spark_df, attr_href_cat_spark_df.activityId ==
                    tripad_act_spark_df.activityId)\
                .select(
                    attr_href_cat_spark_df.activityId, attr_href_cat_spark_df.locationId,
                    tripad_act_spark_df.name, tripad_act_spark_df.price,
                    tripad_act_spark_df.rating, attr_href_cat_spark_df.category)

In [50]:
# visualize spark dataframe
attr_spark_df.show()

+----------+----------+--------------------+------+------+--------------------+
|activityId|locationId|                name| price|rating|            category|
+----------+----------+--------------------+------+------+--------------------+
|  12962337|    298570|Malaysia Countrys...| 43.27|   4.5|[featured_tours_a...|
|  12905660|    298570|Petronas Twin Tow...|119.49|   4.0|[featured_tours_a...|
|  11807013|    298570|Discover the Best...|142.75|   4.5|[featured_tours_a...|
|  12471375|    298570|Genting Highlands...|103.01|   4.5|[featured_tours_a...|
|  12469580|    298570|Half-Day Kuala Lu...| 43.27|   4.0|[featured_tours_a...|
|  16722683|    298570|KL Hop On Hop Off...| 53.07|   3.0|[featured_tours_a...|
|  11454341|   1096277|Langkawi Archipel...|515.06|   5.0|[featured_tours_a...|
|  11812460|    298570|Private Half-Day ...|377.67|   5.0|[featured_tours_a...|
|  11992275|   1096277|12 Flights: Zipli...|473.86|   5.0|[featured_tours_a...|
|  11991123|    660694|Cheong Fatt Tze G...| 20.61|   4.5|[featured_tours_a...|
|  11482502|    298570|Batik Bag Paintin...|119.49|   5.0|[featured_tours_a...|
|  19350513|    635527|Chef Samuel's Pri...|700.48|   5.0|[featured_tours_a...|
|  11474972|    298303|Half-Day Penang C...|115.81|   5.0|[featured_tours_a...|
|  12648212|    298307|North Borneo Crui...|222.48|   4.5|[featured_tours_a...|
|  11470871|    298570|Hot Air Balloon F...|947.71|   5.0|[featured_tours_a...|
|  12468200|    298570|Private Tour: Kua...|407.98|   5.0|[featured_tours_a...|
|  12934938|    303997|Kinabatangan Rive...|568.63|   5.0|[featured_tours_a...|
|  11452959|    298570|Small-Group Food ...|243.14|   5.0|[featured_tours_a...|
|  16749910|    298283|Langkawi Half Day...| 74.18|   4.0|[featured_tours_a...|
|  12939362|    303997|Private Full Day ...|412.11|   4.5|[featured_tours_a...|
+----------+----------+--------------------+------+------+--------------------+
only showing top 20 rows

###### Join tripad_attr_location, attr_spark_df as final_attr_spark_df

In [51]:
# join dataframe
final_attr_spark_df = tripad_loc_spark_df.join(
                    attr_spark_df, tripad_loc_spark_df.locationId ==
                    attr_spark_df.locationId)\
                .select(
                    attr_spark_df.activityId, tripad_loc_spark_df.city, tripad_loc_spark_df.state,
                    tripad_loc_spark_df.country, tripad_loc_spark_df.latitude,
                    tripad_loc_spark_df.longitude, attr_spark_df.name, attr_spark_df.price,attr_spark_df.rating, attr_spark_df.category)

In [53]:
# visualize spark dataframe from pandas
display(final_attr_spark_df.toPandas())

,activityId,city,state,country,latitude,longitude,name,price,rating,category
0,12962337,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Malaysia Countryside and Batu Caves Tour from ...,43.27,4.5,"[featured_tours_and_tickets, luxury_special_oc..."
1,12905660,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Petronas Twin Towers Admission Tickets (E-Tick...,119.49,4.0,"[featured_tours_and_tickets, sightseeing_ticke..."
2,11807013,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Discover the Best Local Food Tour by Night in ...,142.75,4.5,"[featured_tours_and_tickets, private_custom_to..."
3,12471375,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Genting Highlands Day Trip from Kuala Lumpur w...,103.01,4.5,"[featured_tours_and_tickets, luxury_special_oc..."
4,12469580,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Half-Day Kuala Lumpur City Tour,43.27,4.0,"[featured_tours_and_tickets, luxury_special_oc..."
5,16722683,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,KL Hop On Hop Off City Tour,53.07,3.0,"[featured_tours_and_tickets, tours_sightseeing]"
6,11454341,Kuah,Langkawi,Malaysia,6.326672,99.843025,Langkawi Archipelago Jet Ski Tour Including Da...,515.06,5.0,"[featured_tours_and_tickets, water_sports, tou..."
7,11812460,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Private Half-Day Batu Caves Waterfalls and Hot...,377.67,5.0,"[featured_tours_and_tickets, private_custom_to..."
8,11992275,Kuah,Langkawi,Malaysia,6.326672,99.843025,12 Flights: Zipline Eco Adventure in Langkawi,473.86,5.0,"[featured_tours_and_tickets, outdoor_activities]"
9,11991123,Penang Island,Penang,Malaysia,5.388071,100.29352,Cheong Fatt Tze George Town Penang: The Blue M...,20.61,4.5,"[featured_tours_and_tickets, walking_biking_to..."
10,11482502,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Batik Bag Painting Workshop by myBatik,119.49,5.0,"[featured_tours_and_tickets, classes_workshops..."
11,19350513,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629,Chef Samuel's Private Malaysian Cooking Class,700.48,5.0,"[featured_tours_and_tickets, food_wine_nightlife]"
12,11474972,George Town,Penang Island,Malaysia,5.411938,100.32664,Half-Day Penang Countryside Cycling Tour,115.81,5.0,"[featured_tours_and_tickets, walking_biking_to..."
13,12648212,Kota Kinabalu,Kota Kinabalu District,Malaysia,5.979383,116.07349,North Borneo Cruises City Night Dinner Cruise,222.48,4.5,"[featured_tours_and_tickets, cruises_sailing_w..."
14,11470871,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Hot Air Balloon Flight over Serdang,947.71,5.0,"[featured_tours_and_tickets, luxury_special_oc..."
15,12468200,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Private Tour: Kuala Lumpur with Petronas Twin ...,407.98,5.0,"[featured_tours_and_tickets, private_custom_to..."
16,12934938,Sandakan,Sandakan Division,Malaysia,5.838944,118.11561,Kinabatangan River Cruise,568.63,5.0,"[featured_tours_and_tickets, multiday_extended..."
17,11452959,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Small-Group Food Trail Walking Tour in Kuala L...,243.14,5.0,"[featured_tours_and_tickets, walking_biking_to..."
18,16749910,Langkawi,Langkawi District,Malaysia,6.351074,99.75824,Langkawi Half Day Island Hoping Tour- Sharing ...,74.18,4.0,"[featured_tours_and_tickets, shore_excursions,..."
19,12939362,Sandakan,Sandakan Division,Malaysia,5.838944,118.11561,"Private Full Day Sepilok Orang Utan, Bornean S...",412.11,4.5,"[featured_tours_and_tickets, private_custom_to..."
20,15135878,Kota Kinabalu,Kota Kinabalu District,Malaysia,5.979383,116.07349,Island Hopping,226.63,4.5,"[featured_tours_and_tickets, water_sports, tou..."
21,15142299,Kota Kinabalu,Kota Kinabalu District,Malaysia,5.979383,116.07349,Full Day Walk in Kinbalu Park and Poring Hot S...,246.87,4.5,"[featured_tours_and_tickets, outdoor_activitie..."
22,11449679,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Batu Caves Tour from Kuala Lumpur,54.97,3.5,"[featured_tours_and_tickets, tours_sightseeing..."
23,15830443,Penang Island,Penang,Malaysia,5.388071,100.29352,Batu Ferringhi's hidden gems,144.22,5.0,"[featured_tours_and_tickets, outdoor_activities]"
24,11484318,Petaling Jaya,Petaling District,Malaysia,3.10363,101.64778,Sunway Lagoon Malaysia One-Day Pass,177.18,4.0,"[featured_tours_and_tickets, theme_parks, outd..."
25,16939354,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,KL Hop On Hop Off Bus Pass,61.81,4.0,"[featured_tours_and_tickets, luxury_special_oc..."
26,14061658,Langkawi,Langkawi District,Malaysia,6.351074,99.75824,Private Day Tour of Langkawi with Cable Car an...,309.04,2.5,"[featured_tours_and_tickets, day_trips_excursi..."
27,17718163,George Town,Penang Island,Malaysia,5.411938,100.32664,Penang: Flexible 6-Hours Highlights,309.04,5.0,"[featured_tours_and_tickets, private_custom_to..."
28,11475887,Cherating,Kuantan District,Malaysia,4.133792,103.38026,Fireflies Tour in Cherating,63.87,4.5,"[featured_tours_and_tickets, outdoor_activitie..."
29,17419599,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Cooler Lumpur by Night Vespa Food Tour by Vesp...,412.05,5.0,"[featured_tours_and_tickets, food_wine_nightli..."
...,...,...,...,...,...,...,...,...,...,...
4227,17685131,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Vacation Photographer in Putrajaya,1008.66,-1.0,[tours_sightseeing]
4228,13807388,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,KL Butterfly Park Admission Ticket & Free Kual...,164.84,5.0,[tours_sightseeing]
4229,14017942,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Segway Adventure - Eco Ride Tour of Perdana Bo...,381.20,-1.0,[tours_sightseeing]
4230,14779089,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Full Day Tour at Tadom Hill Resort from Kuala ...,346.17,-1.0,[tours_sightseeing]
4231,17847022,Johor Bahru,Johor Bahru District,Malaysia,1.473394,103.75248,Private Photo Session with a Local Photographe...,1008.66,-1.0,[tours_sightseeing]
4232,17847038,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Private Photo Session with a Local Photographe...,1008.66,-1.0,[tours_sightseeing]
4233,17847107,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629,Private Photo Session with a Local Photographe...,1008.66,-1.0,[tours_sightseeing]
4234,11479905,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Private Tour: Historical Malacca Trip from Kua...,391.50,5.0,[tours_sightseeing]
4235,14025818,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Guided Eco Ride Tour of City in the Garden Put...,480.10,-1.0,[tours_sightseeing]
4236,17329973,Petaling Jaya,Petaling District,Malaysia,3.10363,101.64778,Sky Mirror and Paddy Field Tour,391.50,-1.0,[tours_sightseeing]
4237,17019216,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629,Team Building & Activities Heritage City Penang,267.87,-1.0,[tours_sightseeing]
4238,17019215,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629,Team Building & Activities Beach Penang,304.96,-1.0,[tours_sightseeing]
4239,12470359,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629,Private Half-Day Penang Cultural Experience,133.93,-1.0,[tours_sightseeing]
4240,14787807,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Kuala Lumpur Cruise Layover Tour from Boustead...,387.38,-1.0,"[tours_sightseeing, tours_sightseeing]"
4241,12467426,Sarawak,Malaysia,Malaysia,2.310777,112.50697,Half-Day Sightseeing Tour of Miri City,182.11,4.0,[tours_sightseeing]
4242,11464516,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Taman Negara National Park + Cameron Highlands...,2616.87,-1.0,[tours_sightseeing]
4243,12468974,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Full-Day Kuala Lumpur Grand Tour with Lunch,247.26,3.5,[tours_sightseeing]
4244,12464505,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Malaysian Cultural Night in Kuala Lumpur,247.26,4.0,[tours_sightseeing]
4245,12469002,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Half-Day City Tour with Kuala Lumpur Tower Adm...,226.66,-1.0,[tours_sightseeing]
4246,12943485,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Escape Room: Malaysia's First Real Life Escape...,33.38,4.5,[tours_sightseeing]
4247,13857449,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Private Kuala Lumpur Heritage Walking Tour,164.84,-1.0,[tours_sightseeing]
4248,15040147,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,"Cameron Highlands Day Tour Strawberry Park, Te...",576.95,-1.0,[tours_sightseeing]
4249,15040146,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Historical Malacca Full-day Tour with Lunch,366.77,-1.0,[tours_sightseeing]
4250,17486540,Petaling Jaya,Petaling District,Malaysia,3.10363,101.64778,4G WiFi (MY Airport Pick Up) for Malaysia,34.41,-1.0,[tours_sightseeing]
4251,17486534,Johor Bahru,Johor Bahru District,Malaysia,1.473394,103.75248,5D Studio Admission Ticket,22.86,-1.0,[tours_sightseeing]
4252,17486546,Kuah,Langkawi,Malaysia,6.326672,99.843025,6D Cinemotion Admission Ticket,19.05,-1.0,[tours_sightseeing]
4253,12464599,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Kuala Lumpur City Tour,98.91,2.5,[tours_sightseeing]
4254,11481439,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717,Kuala Lumpur City Tour + Batu cave Tour - 1 Day,576.95,5.0,[tours_sightseeing]
4255,12043816,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629,Penang Amazing Race,267.87,1.0,[tours_sightseeing]
4256,14187878,Kuching,Sarawak,Malaysia,1.52022,110.35362,Mangrove & Irrawaddy Dolphin Watching Cruise f...,230.78,5.0,[tours_sightseeing]

In [54]:
# write spark dataframe to parquet
final_attr_spark_df.write.parquet(parquet_path + 'tripad_attr',
                                  mode='overwrite')

# tripad_attr_review

In [492]:
# read json as spark dataframe
attr_review_spark_df = spark.read.json(tripad_attr_path +
                                         'tripad_attr_review.json')
attr_review_spark_df.count()

7147

In [493]:
# drop unwanted columns
attr_review_spark_df = attr_review_spark_df.drop(
    '__COMMENT', '__typename', 'additionalRatings', 'attribution',
    'helpfulVotes', 'language', 'createdDate', 'roomTip', 'status', 'title',
    'tripInfo', 'url', 'userProfile')
attr_review_spark_df = attr_review_spark_df.dropna(subset='location')
attr_review_spark_df.count()

7146

In [494]:
attr_review_spark_df = attr_review_spark_df.withColumn(
    'activityId', attr_review_spark_df.location.locationId).drop('location')

In [495]:
# write spark dataframe to parquet
attr_review_spark_df.write.parquet(parquet_path + 'tripad_attr_review',
                                   mode='overwrite')

In [496]:
# read spark dataframe from parquet
attr_review_spark_df = spark.read.parquet(parquet_path + 'tripad_attr_review')
attr_review_spark_df.count()

7146

In [497]:
display(attr_review_spark_df.toPandas())

,id,publishedDate,rating,text,userId,username,activityId
0,734539244,2019-12-24,4,We thoroughly enjoyed our visit. The statue a...,AADC3E720516494EE3CAC336D81440F8,Greg B,12962337
1,734157196,2019-12-22,4,Wonderful trip . Our guide Maran was very plea...,3AA21E3EF92DF9C6F2AFD44638D2CD25,Departure668057,12962337
2,734110328,2019-12-22,5,Malaysia citizen are so good lovely and touche...,9D0DF755B277278A6105D76BC019711A,Mohammadfurqan,12962337
3,734058935,2019-12-22,4,Really enjoyed seeing places in Kuala Lumper. ...,7E21240150BA19327730C97A7874A94B,626michelle123626,12962337
4,733460423,2019-12-18,4,Bantu caves are excellent but don't just visit...,E6DFFA76D761E2B098D67B5ADE42613B,John M,12962337
5,733375079,2019-12-18,5,"Herys our guide was enthusiastic, informative ...",2660D5203BE7D41B7A66DA476E170D39,jbboo,12962337
6,733183428,2019-12-17,3,"First, this company tells me that they will pi...",1CA572D8C5537A7C05F650DB326D976B,prasen9,12962337
7,732870074,2019-12-15,3,Nice visit busy place\nLots of stairs and Monk...,0C45F4CA7883225113241AAE2E5C96E9,Ravi G,12962337
8,732702747,2019-12-14,5,The tour was just me and Muru the guide which ...,C70A04C2813D04DC385678CA05531998,Eelvander,12962337
9,732358163,2019-12-12,5,The tour was amazing and the tour guides were ...,3AAA08EEDCD241E9653063A82633E14B,jemmimahw2019,12962337
10,731171274,2019-12-07,5,The excursion was amazing and our driver Muru ...,BBCF609F433BAAF9457B0D77783E78E2,Cila_89,12962337
11,730680777,2019-12-04,5,Very easy collection from outside my hostel. V...,38F677A6A125E384C86D840D23202424,906matthewt,12962337
12,730181680,2019-12-02,5,Free entry !!Packed with tourists.Long walk up...,44BB36EAD0DAD8E2F86CD0BBEDCDCF14,myhalal,12962337
13,730089321,2019-12-01,4,A colleague took me while on a business trip. ...,29A9A125E8DC01716385CF7E8842B484,swells2048,12962337
14,729772138,2019-11-30,5,Batu caves was in our list for few years in as...,E3EC2FEB2995E60B424DB0194DF3E203,clickclick0,12962337
15,729531032,2019-11-28,5,Amazing & thoughtful tour! Booked last minute ...,D21D365AEB1F8DCBD2A90EE1C93A0BA1,trinhhvm,12962337
16,729117052,2019-11-26,5,My son (15) and I had a great time. Our tour g...,7D19C72D586B18F75CAA0B60AA7BAC26,Jdragonfly22,12962337
17,729095923,2019-11-26,4,We book the trip to Butu cave from trip adviso...,0C3915E5A6A418A3E7535E837A74D9DD,Ho Kwong Yew I,12962337
18,728778144,2019-11-25,5,My husband and I were collected at our hotel r...,3B5912F9A4F5B41D5DF3A8DFCBC45832,Yvonne B,12962337
19,727971455,2019-11-21,5,It was a wonderful experience going to these m...,A4962017D393E159BABCAEEAD5C58EA5,AshokKJain,12962337
20,727095356,2019-11-17,5,Great half day tour with our guide Raja to Bat...,D36D714C42765066B36DDFFEDBE01F9A,Pauline1977,12962337
21,725832878,2019-11-11,5,"We had a real great trip, to an awesome deal. ...",C524493F32396AA1CAAF1B0470BFB475,jasch2018,12962337
22,725486881,2019-11-10,4,good experience - monkeys everywhere so be car...,24370B112FACF0CD4DB388DC87A3E8F5,gazza118,12962337
23,725252709,2019-11-09,4,"We travelled to the caves by train, was easy t...",701A6CCF2340A10418831F8C5C3589F9,well-travelled1960,12962337
24,723064523,2019-11-01,5,I was going to be in KL for a short business t...,059E5355CD8859A0D2D545BC6E93280C,KRISH R,12962337
25,722115034,2019-10-28,4,"Worth a visit, the Batu Caves are amazing, the...",F423D06853328B2F3EC5844E4A7EB79F,Mandinka_11,12962337
26,720392251,2019-10-22,4,This is a must-see if you are visiting Malaysi...,2F60982899DEE43858418D4E33D73AF0,MahenK111,12962337
27,719514517,2019-10-18,4,We did the pewter factory (see separate review...,8CD63AF10D9427936A75155B23A0318A,MsMkonnichiwa,12962337
28,718506759,2019-10-15,4,We went on a very humid day and it was hard wo...,2333487CCA634C4786E4FB1EB9DEC3C7,Wayter,12962337
29,716222393,2019-10-07,5,Our driver Maran (unsure if this name is corre...,B43A202D78F37073A5DFF5945E4DEB38,Neal-B1988,12962337
...,...,...,...,...,...,...,...
7116,713315849,2019-09-27,5,Nicest place to do activities with friends/col...,B6C96411287C6FF30590DD744D02F866,eastwind_an,12943485
7117,713315749,2019-09-27,5,The best experience ever. Super duper friendly...,914457D962627E3EBAECA26C5AABE521,Hrdrckr,12943485
7118,711838691,2019-09-22,5,Was really exciting and fun solving riddles! R...,240A9DB974DC000B6EE990ACA554A1E3,Nurnabilazainol,12943485
7119,711799651,2019-09-21,5,It was a fun and engaging time spent with frie...,36C47E8DE3B26D76B3F58B42889C41E6,Pokpokkay,12943485
7120,711319477,2019-09-19,4,It was worth the first try as it boost our tea...,2E6CDF4710AFFCED25E830F19FCF1AE4,nrafrienas,12943485
7121,711306252,2019-09-19,5,they have various challenges and levels that w...,7E96DCE457FDD440F628B8CE125CF10C,Ananananana78,12943485
7122,711305689,2019-09-19,5,The mission is quite challenging but its fun ...,79AB5F938F84B40E3B7A0495FCEFED09,Amyyyyy96,12943485
7123,710090461,2019-09-15,5,"Too challenging for us,(only for us) you shoul...",4EA9874CC70677625EC7310D74C917BB,Thahiraqnt891,12943485
7124,709867562,2019-09-15,5,It was a fun experience. It's was fun yet chal...,71A2CC80F11CC7C7C7B66D45130F4FF1,Fazlinordin,12943485
7125,709862663,2019-09-15,5,Alhamdulillah semua fun sangat and walaupun ta...,B5637459004046109CBD7ACB272548E1,masyie,12943485
7126,709846759,2019-09-15,5,The game was fun and challenging\nThe staff ve...,C5DD75DFAC6CFE899E5EFA53933B8A4C,Adibah R,12943485
7127,707109206,2019-09-06,5,The staff was very friendly and helpfull.the g...,C7FE665122F497D87A50B36117435772,Haslinawahab,12943485
7128,706704448,2019-09-04,5,Game that challenges your mind and teamwork. F...,7694685F81CDD6AD6BECF72DFDBAC2E0,raihannahh2019,12943485
7129,703802774,2019-08-27,5,Great experience and had very exciting moments...,20E3F62B1DECC181A8512B7742CC26F4,TrailBlazer510856,12943485
7130,703481819,2019-08-27,5,We had so much fun! There were four of us and ...,B2772FBEA9581427F87F43D487FA88DA,fatihxhh,12943485
7131,703050910,2019-08-25,5,So tricky game but really enjoyed it. The staf...,A3B29D95BB6EE7204B99C8001145727F,Ieda95,12943485
7132,702042677,2019-08-22,5,Unexpected solution tried so hard to search ...,F11D5C9C26864BC77885E52EE82FCFE2,AimiMymie,12943485
7133,700158287,2019-08-17,4,Fun time with the kids. Would definitely go ag...,62F775BD3CE345BDAF89E902C021366A,rahana71,12943485
7134,698011784,2019-08-11,4,We played the Cage of Death and Mystery. Quite...,B75FEC9E235C5D148139C12402D3753F,Jasontbk,12943485
7135,692229547,2019-07-23,5,So nice..can have fun..good experience with my...,25EC6022E4C24290905A8EC9D9E948A3,p00varasiravi,12943485
7136,691947418,2019-07-23,4,"I like it very much, it is one of the Best exp...",3FC734E048D4B1DFF20D1BCBAAFA758B,Nor N,12943485
7137,691617218,2019-07-22,5,It is fun to play together with your friends.....,90853DA7A0D639575F1D2C0FE1E97417,Elynali,12943485
7138,689696911,2019-07-15,5,It was fun.(literally):) it was extravaganza f...,78ED54100B23E6C4493F3389915F4AB7,boyswithguitars,12943485
7139,686988731,2019-07-05,5,this game is very best and challenging. This g...,3E1B8A3287F1906C0E76764642DC3FC4,Hasyyati,12943485
7140,683944353,2019-06-24,5,We had so much fun! Lovely service n friendly ...,E8BD90F2694B7E6351E293CD95072B08,Puteri N,12943485
7141,683833119,2019-06-23,5,Very fun and exciting! You must try to test yo...,105FF310D4AE0C3314C751D9D1792A6A,tenangizzgood,12943485
7142,671068153,2019-05-02,5,We had a lot of fun today. The staffs are amaz...,508514533033BB6EF1CC6F7AA3836A22,fianayusuf19,12943485
7143,735561133,2019-12-30,1,Purchased this ride along with the Sky Cab tic...,B8B3D284F16E7C20CF46D1AC893A8F16,joemL9566KS,17486546
7144,690512327,2019-07-17,4,We had 6 hours to see the city highlights of K...,2734E8F1BB862CA7FE1B47EA07EC709F,mathyscarolines,12464599
7145,590489820,2018-06-25,5,I did this using a local recommended tour serv...,D7E5FBA04F4E09C3645B2A81752A6B2F,AnitaJo J,14187878

# Pyspark subscribe kafka topic

#####  set advertised.listeners=PLAINTEXT://your-kafka-server-ip:9092 in server.properties

In [1]:
import os
os.environ[
    'PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-streaming-kafka-0-8_2.11:2.4.4,org.apache.spark:spark-sql-kafka-0-10_2.11:2.4.4 pyspark-shell'

In [108]:
from pyspark.sql import SparkSession, functions, types
from pyspark.sql.types import *
from pyspark.streaming import StreamingContext
from pyspark.streaming.kafka import KafkaUtils

In [297]:
spark = SparkSession.builder.appName("attraction").getOrCreate()
spark

In [47]:
# create streaming contexts
# ssc = StreamingContext(spark.sparkContext, 120)

In [ ]:
# kafkaStream = KafkaUtils.createDirectStream(ssc, ['testing2'], {
#     'bootstrap.servers': '10.123.10.26:9092',
#     'auto.offset.reset': 'smallest'
# })

# kafkaStream.pprint()

In [70]:
# parsed = kafkaStream.map(lambda x: json.loads(x[1]))

In [ ]:
# ssc.start()
# ssc.awaitTermination()

In [91]:
# ssc.stop()

In [107]:
# spark.stop()

# Structured kafka reading

In [432]:
# default for startingOffsets is "latest", but "earliest" allows rewind for missed data
attr_review_kafka_msg = spark.read.format("kafka").option(
    "kafka.bootstrap.servers", "10.123.10.26:9092").option(
        "subscribe", "tripad_attr_review").option("startingOffsets",
                                                  "earliest").load()

##### Read schema from kafka message value

In [433]:
kafka_msg_df = attr_review_kafka_msg.withColumn(
    "value", functions.expr("string(value)")).select("value")

In [435]:
kafka_msg_df_json = spark.read.json(kafka_msg_df.rdd.map(lambda x: x.value),
                                    multiLine=True)
kafka_msg_df_json.count()

4252

In [436]:
kafka_msg_df_json.schema

StructType(List(StructField(data,StructType(List(StructField(locations,ArrayType(StructType(List(StructField(locationId,LongType,true),StructField(reviewListPage,StructType(List(StructField(__typename,StringType,true),StructField(reviews,ArrayType(StructType(List(StructField(__typename,StringType,true),StructField(additionalRatings,ArrayType(StructType(List(StructField(__typename,StringType,true),StructField(rating,LongType,true),StructField(ratingLabel,StringType,true))),true),true),StructField(attribution,StringType,true),StructField(createdDate,StringType,true),StructField(helpfulVotes,LongType,true),StructField(id,LongType,true),StructField(language,StringType,true),StructField(location,StructType(List(StructField(__typename,StringType,true),StructField(locationId,LongType,true),StructField(name,StringType,true),StructField(placeType,StringType,true),StructField(reviewSummary,StructType(List(StructField(__typename,StringType,true),StructField(count,LongType,true),StructField(rating,DoubleType,true))),true),StructField(url,StringType,true))),true),StructField(publishedDate,StringType,true),StructField(rating,LongType,true),StructField(roomTip,StringType,true),StructField(status,StringType,true),StructField(text,StringType,true),StructField(title,StringType,true),StructField(tripInfo,StructType(List(StructField(__typename,StringType,true),StructField(stayDate,StringType,true),StructField(tripType,StringType,true))),true),StructField(url,StringType,true),StructField(userId,StringType,true),StructField(userProfile,StructType(List(StructField(__typename,StringType,true),StructField(displayName,StringType,true),StructField(hometown,StructType(List(StructField(__typename,StringType,true),StructField(fallbackString,StringType,true),StructField(location,StructType(List(StructField(__typename,StringType,true),StructField(additionalNames,StructType(List(StructField(__typename,StringType,true),StructField(geo,StringType,true),StructField(longOnlyParent,StringType,true))),true),StructField(locationId,LongType,true))),true))),true),StructField(id,StringType,true),StructField(route,StructType(List(StructField(__typename,StringType,true),StructField(url,StringType,true))),true),StructField(userId,StringType,true),StructField(username,StringType,true))),true),StructField(username,StringType,true))),true),true),StructField(totalCount,LongType,true))),true))),true),true))),true)))

In [422]:
# required schema
# kafka_msg_df_json = kafka_msg_df.select(
#     functions.from_json(
#         functions.col("value"),
#         kafka_msg_df_json.schema).alias("data")).select("data.*")

In [455]:
reviews_spark_df = kafka_msg_df_json.select(kafka_msg_df_json.data.locations.reviewListPage.reviews.alias("reviews"))

In [458]:
reviews_spark_df.schema

StructType(List(StructField(reviews,ArrayType(ArrayType(StructType(List(StructField(__typename,StringType,true),StructField(additionalRatings,ArrayType(StructType(List(StructField(__typename,StringType,true),StructField(rating,LongType,true),StructField(ratingLabel,StringType,true))),true),true),StructField(attribution,StringType,true),StructField(createdDate,StringType,true),StructField(helpfulVotes,LongType,true),StructField(id,LongType,true),StructField(language,StringType,true),StructField(location,StructType(List(StructField(__typename,StringType,true),StructField(locationId,LongType,true),StructField(name,StringType,true),StructField(placeType,StringType,true),StructField(reviewSummary,StructType(List(StructField(__typename,StringType,true),StructField(count,LongType,true),StructField(rating,DoubleType,true))),true),StructField(url,StringType,true))),true),StructField(publishedDate,StringType,true),StructField(rating,LongType,true),StructField(roomTip,StringType,true),StructField(status,StringType,true),StructField(text,StringType,true),StructField(title,StringType,true),StructField(tripInfo,StructType(List(StructField(__typename,StringType,true),StructField(stayDate,StringType,true),StructField(tripType,StringType,true))),true),StructField(url,StringType,true),StructField(userId,StringType,true),StructField(userProfile,StructType(List(StructField(__typename,StringType,true),StructField(displayName,StringType,true),StructField(hometown,StructType(List(StructField(__typename,StringType,true),StructField(fallbackString,StringType,true),StructField(location,StructType(List(StructField(__typename,StringType,true),StructField(additionalNames,StructType(List(StructField(__typename,StringType,true),StructField(geo,StringType,true),StructField(longOnlyParent,StringType,true))),true),StructField(locationId,LongType,true))),true))),true),StructField(id,StringType,true),StructField(route,StructType(List(StructField(__typename,StringType,true),StructField(url,StringType,true))),true),StructField(userId,StringType,true),StructField(username,StringType,true))),true),StructField(username,StringType,true))),true),true),true)))

In [456]:
reviews_df = reviews_spark_df.toPandas()

In [457]:
reviews_df

                                                reviews
0     [[(Review, [], None, 2019-12-25, 0, 734539244,...
1     [[(Review, [], None, 2019-12-28, 1, 735050287,...
2     [[(Review, [], None, 2019-12-30, 0, 735605067,...
3     [[(Review, [], None, 2019-12-26, 0, 734811581,...
4     [[(Review, [], None, 2019-12-30, 0, 735528391,...
5     [[(Review, [], None, 2019-12-29, 0, 735355927,...
6     [[(Review, [], None, 2019-12-29, 0, 735249797,...
7     [[(Review, [], None, 2019-12-30, 0, 735575762,...
8     [[(Review, [], None, 2019-12-30, 0, 735570887,...
9     [[(Review, [], None, 2019-09-22, 0, 712085586,...
10    [[(Review, [], None, 2019-11-17, 0, 726935738,...
11    [[(Review, [], None, 2019-12-06, 0, 731062050,...
12    [[(Review, [], None, 2019-08-06, 1, 696279137,...
13    [[(Review, [], None, 2019-12-27, 0, 734864724,...
14    [[(Review, [], None, 2019-12-29, 0, 735480338,...
15    [[(Review, [], None, 2019-12-28, 1, 735100938,...
16    [[(Review, [], None, 2019-06-24, 1, 683909210,...
17    [[(Review, [], None, 2019-12-29, 0, 735247025,...
18    [[(Review, [], None, 2019-12-20, 0, 733744058,...
19    [[(Review, [], None, 2019-11-29, 1, 729644651,...
20    [[(Review, [], None, 2019-11-17, 0, 727110814,...
21    [[(Review, [], None, 2019-12-18, 0, 733359754,...
22    [[(Review, [], None, 2019-12-03, 0, 730369272,...
23    [[(Review, [], None, 2019-10-22, 0, 720410414,...
24    [[(Review, [], None, 2019-12-29, 0, 735471480,...
25    [[(Review, [], None, 2019-12-09, 0, 731583104,...
26    [[(Review, [], None, 2019-12-28, 0, 735233133,...
27    [[(Review, [], None, 2019-12-22, 0, 734050014,...
28    [[(Review, [], None, 2019-11-10, 0, 725426299,...
29    [[(Review, [], None, 2019-12-20, 0, 733820547,...
...                                                 ...
4222                                               [[]]
4223  [[(Review, [], None, 2019-05-06, 0, 671989809,...
4224                                               [[]]
4225                                               [[]]
4226                                               [[]]
4227                                               [[]]
4228                                               [[]]
4229                                               [[]]
4230                                               [[]]
4231                                               [[]]
4232                                               [[]]
4233                                               [[]]
4234                                               [[]]
4235                                               [[]]
4236  [[(Review, [], None, 2019-07-04, 0, 686626887,...
4237                                               [[]]
4238                                               [[]]
4239                                               [[]]
4240                                               [[]]
4241  [[(Review, [], None, 2019-12-28, 0, 735067160,...
4242                                               [[]]
4243                                               [[]]
4244                                               [[]]
4245                                               [[]]
4246                                               [[]]
4247  [[(Review, [], None, 2019-12-30, 0, 735561133,...
4248  [[(Review, [], None, 2019-07-18, 0, 690512327,...
4249                                               [[]]
4250                                               [[]]
4251  [[(Review, [], None, 2018-06-25, 5, 590489820,...

[4252 rows x 1 columns]