In [1]:
# import project directory helper
import os, sys, inspect
currentDir = os.getcwd()
parentDir = os.path.dirname(currentDir)
sys.path.insert(0, parentDir)

In [2]:
# import pyspark packages
from pyspark import SparkContext as sc
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession, functions, types
from pyspark.sql.types import *

In [3]:
# import util packages
from IPython.display import display
import pandas as pd

In [4]:
# sc = sc(appName="attraction")
# sqlContext = SQLContext(sc)
# import spark packages
spark = SparkSession.builder.appName("attraction").getOrCreate()

# tripadvisor_attr_href_cat

In [5]:
# define path
tripad_attr_path = parentDir + '/crawler/datasets/tripadvisor_dataset/attractions/'
parquet_path = parentDir + '/crawler/datasets/tripadvisor_dataset/spark/'

In [6]:
# read json as spark dataframe
attr_href_cat_spark_df = spark.read.json(tripad_attr_path +
                                         'tripadvisor_attr_href_cat.json')
# attr_href_cat_df = pd.read_json(tripadvisor_attr_href_cat, orient='records')

In [7]:
# write spark dataframe to parquet
attr_href_cat_spark_df.write.parquet(parquet_path +
                                     'tripadvisor_attr_href_cat',
                                     mode='overwrite')

In [8]:
# read spark dataframe from parquet
attr_href_cat_spark_df = spark.read.parquet(parquet_path + 'tripadvisor_attr_href_cat')

In [9]:
# convert spark dataframe to pandas dataframe
attr_href_cat_df = attr_href_cat_spark_df.toPandas()

In [10]:
# add activityId, locationId columns to dataframe
attr_href_cat_df['activityId'] = attr_href_cat_df['href'].str.extract(
    r'd(\d+)', expand=True)
attr_href_cat_df['locationId'] = attr_href_cat_df['href'].str.extract(
    r'g(\d+)', expand=True)

In [11]:
# rearrange pandas dataframe columns order
attr_href_cat_df_cl = ['activityId', 'locationId', 'href',
                       'category']  # columns order
attr_href_cat_df = attr_href_cat_df.reindex(columns=attr_href_cat_df_cl)

In [12]:
# visualize pandas dataframe
display(attr_href_cat_df.count())
display(attr_href_cat_df.head())

activityId    4257
locationId    4257
href          4260
category      4260
dtype: int64

,activityId,locationId,href,category
0,NaN,NaN,None,None
1,12962337,298570,/AttractionProductReview-g298570-d12962337-Mal...,"[featured_tours_and_tickets, luxury_special_oc..."
2,12905660,298570,/AttractionProductReview-g298570-d12905660-Pet...,"[featured_tours_and_tickets, sightseeing_ticke..."
3,11807013,298570,/AttractionProductReview-g298570-d11807013-Dis...,"[featured_tours_and_tickets, private_custom_to..."
4,12471375,298570,/AttractionProductReview-g298570-d12471375-Gen...,"[featured_tours_and_tickets, luxury_special_oc..."

In [13]:
# showing and removing duplicate value
print('Duplicated values:')
print(attr_href_cat_df[attr_href_cat_df['activityId'].duplicated(keep=False)])
print()
print('Length before removing duplicated values: ' +
      str(len(attr_href_cat_df)))

Duplicated values:
     activityId locationId                                               href  \
0           NaN        NaN                                               None
376         NaN        NaN  /AttractionProductReview?partner=Viator&produc...
1339        NaN        NaN  /AttractionProductReview?partner=Viator&produc...
1945        NaN        NaN  /AttractionProductReview?partner=Viator&produc...
4261        NaN        NaN                                               None

                                       category
0                                          None
376    [classes_workshops, food_wine_nightlife]
1339                       [outdoor_activities]
1945  [private_custom_tours, tours_sightseeing]
4261                                       None

Length before removing duplicated values: 4262

In [14]:
# # dropping duplicate values
attr_href_cat_df = attr_href_cat_df.drop_duplicates(subset='activityId',
                                                    keep=False)
print('Length after removing duplicated values: ' + str(len(attr_href_cat_df)))

Length after removing duplicated values: 4257

In [15]:
# dropping nan values
attr_href_cat_df = attr_href_cat_df.dropna()
print('Length after removing NaN values: ' + str(len(attr_href_cat_df)))

Length after removing NaN values: 4257

In [16]:
# create spark dataframe from pandas dataframe
attr_href_cat_spark_df = spark.createDataFrame(attr_href_cat_df)

In [34]:
# visualize spark dataframe
display(attr_href_cat_spark_df.count())
attr_href_cat_spark_df.show()

4257

+----------+----------+--------------------+--------------------+
|activityId|locationId|                href|            category|
+----------+----------+--------------------+--------------------+
|  12962337|    298570|/AttractionProduc...|[featured_tours_a...|
|  12905660|    298570|/AttractionProduc...|[featured_tours_a...|
|  11807013|    298570|/AttractionProduc...|[featured_tours_a...|
|  12471375|    298570|/AttractionProduc...|[featured_tours_a...|
|  12469580|    298570|/AttractionProduc...|[featured_tours_a...|
|  16722683|    298570|/AttractionProduc...|[featured_tours_a...|
|  11454341|   1096277|/AttractionProduc...|[featured_tours_a...|
|  11812460|    298570|/AttractionProduc...|[featured_tours_a...|
|  11992275|   1096277|/AttractionProduc...|[featured_tours_a...|
|  11991123|    660694|/AttractionProduc...|[featured_tours_a...|
|  11482502|    298570|/AttractionProduc...|[featured_tours_a...|
|  19350513|    635527|/AttractionProduc...|[featured_tours_a...|
|  11474972|    298303|/AttractionProduc...|[featured_tours_a...|
|  12648212|    298307|/AttractionProduc...|[featured_tours_a...|
|  11470871|    298570|/AttractionProduc...|[featured_tours_a...|
|  12468200|    298570|/AttractionProduc...|[featured_tours_a...|
|  12934938|    303997|/AttractionProduc...|[featured_tours_a...|
|  11452959|    298570|/AttractionProduc...|[featured_tours_a...|
|  16749910|    298283|/AttractionProduc...|[featured_tours_a...|
|  12939362|    303997|/AttractionProduc...|[featured_tours_a...|
+----------+----------+--------------------+--------------------+
only showing top 20 rows

# tripad_attr_activity

In [18]:
# define path
tripad_attr_path = parentDir + '/crawler/datasets/tripadvisor_dataset/attractions/'
parquet_path = parentDir + '/crawler/datasets/tripadvisor_dataset/spark/'

In [19]:
# read json as spark dataframe
tripad_act_spark_df = spark.read.json(tripad_attr_path +
                                      'tripad_attr_activity.json')

In [20]:
# write spark dataframe to parquet
tripad_act_spark_df.write.parquet(parquet_path + 'tripad_attr_activity',
                                  mode='overwrite')

In [21]:
# read spark dataframe from parquet
tripad_act_spark_df = spark.read.parquet(parquet_path + 'tripad_attr_activity')

In [22]:
# drop unwanted columns
tripad_act_spark_df = tripad_act_spark_df.drop('__COMMENT')
tripad_act_spark_df = tripad_act_spark_df.dropna(subset='productHeader')

In [23]:
# select disired columns
tripad_act_spark_df = tripad_act_spark_df.select(
    tripad_act_spark_df.productHeader.activityId.alias("activityId"),
    tripad_act_spark_df.productHeader.productTitle.alias("name"),
    tripad_act_spark_df.tourPlanner.numericPrice.alias("price"),
    tripad_act_spark_df.productHeader.reviewRating.alias("rating"))

In [33]:
# visualize spark dataframe
display(tripad_act_spark_df.count())
tripad_act_spark_df.show()

4257

+----------+--------------------+------+------+
|activityId|                name| price|rating|
+----------+--------------------+------+------+
|  12962337|Malaysia Countrys...| 43.27|   4.5|
|  12905660|Petronas Twin Tow...|119.49|   4.0|
|  11807013|Discover the Best...|142.75|   4.5|
|  12471375|Genting Highlands...|103.01|   4.5|
|  12469580|Half-Day Kuala Lu...| 43.27|   4.0|
|  16722683|KL Hop On Hop Off...| 53.07|   3.0|
|  11454341|Langkawi Archipel...|515.06|   5.0|
|  11812460|Private Half-Day ...|377.67|   5.0|
|  11992275|12 Flights: Zipli...|473.86|   5.0|
|  11991123|Cheong Fatt Tze G...| 20.61|   4.5|
|  11482502|Batik Bag Paintin...|119.49|   5.0|
|  19350513|Chef Samuel's Pri...|700.48|   5.0|
|  11474972|Half-Day Penang C...|115.81|   5.0|
|  12648212|North Borneo Crui...|222.48|   4.5|
|  11470871|Hot Air Balloon F...|947.71|   5.0|
|  12468200|Private Tour: Kua...|407.98|   5.0|
|  12934938|Kinabatangan Rive...|568.63|   5.0|
|  11452959|Small-Group Food ...|243.14|   5.0|
|  16749910|Langkawi Half Day...| 74.18|   4.0|
|  12939362|Private Full Day ...|412.11|   4.5|
+----------+--------------------+------+------+
only showing top 20 rows

# tripad_attr_location

In [25]:
# define path
tripad_attr_path = parentDir + '/crawler/datasets/tripadvisor_dataset/attractions/'
parquet_path = parentDir + '/crawler/datasets/tripadvisor_dataset/spark/'

In [26]:
# read json as spark dataframe
tripad_loc_spark_df = spark.read.json(tripad_attr_path +
                                      'tripad_attr_location.json')

In [27]:
# write spark dataframe to parquet
tripad_loc_spark_df.write.parquet(parquet_path + 'tripad_attr_location',
                                  mode='overwrite')

In [28]:
# read spark dataframe from parquet
tripad_loc_spark_df = spark.read.parquet(parquet_path + 'tripad_attr_location')

In [29]:
# drop unwanted columns
tripad_loc_spark_df = tripad_loc_spark_df.drop('__COMMENT')
tripad_loc_spark_df = tripad_loc_spark_df.dropna(subset='location_id')

In [30]:
# select disired columns
tripad_loc_spark_df = tripad_loc_spark_df.select(
    tripad_loc_spark_df.location_id.alias("locationId"),
    tripad_loc_spark_df.name.alias("city"),
    tripad_loc_spark_df.ancestors[0]['name'].alias("state"),
    tripad_loc_spark_df.parent_display_name.alias("country"),
    tripad_loc_spark_df.latitude.alias("latitude"),
    tripad_loc_spark_df.longitude.alias("longitude"))

In [32]:
# visualize spark dataframe
display(tripad_loc_spark_df.count())
tripad_loc_spark_df.show()

98

+----------+--------------------+--------------------+-----------------+--------+---------+
|locationId|                city|               state|          country|latitude|longitude|
+----------+--------------------+--------------------+-----------------+--------+---------+
|    298570|        Kuala Lumpur| Wilayah Persekutuan|         Malaysia|3.156802|101.69717|
|   1096277|                Kuah|            Langkawi|         Malaysia|6.326672|99.843025|
|    660694|       Penang Island|              Penang|         Malaysia|5.388071|100.29352|
|    635527|      Batu Ferringhi|       Penang Island|         Malaysia|5.471783|100.24629|
|    298303|         George Town|       Penang Island|         Malaysia|5.411938|100.32664|
|    298307|       Kota Kinabalu|Kota Kinabalu Dis...|         Malaysia|5.979383|116.07349|
|    303997|            Sandakan|   Sandakan Division|         Malaysia|5.838944|118.11561|
|    298283|            Langkawi|   Langkawi District|         Malaysia|6.351074| 99.75824|
|    298313|       Petaling Jaya|   Petaling District|         Malaysia| 3.10363|101.64778|
|    666315|           Cherating|    Kuantan District|         Malaysia|4.133792|103.38026|
|   2006071|              Tuaran|               Sabah|         Malaysia|6.176577|116.23315|
|    298277|               Johor|            Malaysia|         Malaysia|1.889306|103.42438|
|   1497917|          Tanah Rata|   Cameron Highlands|         Malaysia|4.472036|101.37731|
|    298308|             Sarawak|            Malaysia|         Malaysia|2.310777|112.50697|
|    293938| Bandar Seri Begawan|Brunei-Muara Dist...|Brunei Darussalam|  4.8919|114.94044|
|    298298|                Ipoh|      Kinta District|         Malaysia| 4.59725|101.12015|
|    294265|           Singapore|           Singapore|        Singapore|1.285801|103.85111|
|   1022648|               Klang|            Selangor|         Malaysia|3.039726|101.44049|
|   1483707|Gunung Mulu Natio...|             Sarawak|         Malaysia|4.065645|114.93267|
|    795950|               Tapah|Batang Padang Dis...|         Malaysia|4.198387|101.26153|
+----------+--------------------+--------------------+-----------------+--------+---------+
only showing top 20 rows

In [35]:
# convert spark dataframe to pandas dataframe
tripad_loc_df = tripad_loc_spark_df.toPandas()

In [36]:
# visualize pandas dataframe
display(tripad_loc_df.count())
pd.set_option('display.max_rows', None)
display(tripad_loc_df)
pd.reset_option('display.max_rows')

locationId    98
city          98
state         97
country       98
latitude      97
longitude     97
dtype: int64

,locationId,city,state,country,latitude,longitude
0,298570,Kuala Lumpur,Wilayah Persekutuan,Malaysia,3.156802,101.69717
1,1096277,Kuah,Langkawi,Malaysia,6.326672,99.843025
2,660694,Penang Island,Penang,Malaysia,5.388071,100.29352
3,635527,Batu Ferringhi,Penang Island,Malaysia,5.471783,100.24629
4,298303,George Town,Penang Island,Malaysia,5.411938,100.32664
5,298307,Kota Kinabalu,Kota Kinabalu District,Malaysia,5.979383,116.07349
6,303997,Sandakan,Sandakan Division,Malaysia,5.838944,118.11561
7,298283,Langkawi,Langkawi District,Malaysia,6.351074,99.75824
8,298313,Petaling Jaya,Petaling District,Malaysia,3.10363,101.64778
9,666315,Cherating,Kuantan District,Malaysia,4.133792,103.38026
10,2006071,Tuaran,Sabah,Malaysia,6.176577,116.23315
11,298277,Johor,Malaysia,Malaysia,1.889306,103.42438
12,1497917,Tanah Rata,Cameron Highlands,Malaysia,4.472036,101.37731
13,298308,Sarawak,Malaysia,Malaysia,2.310777,112.50697
14,293938,Bandar Seri Begawan,Brunei-Muara District,Brunei Darussalam,4.8919,114.94044
15,298298,Ipoh,Kinta District,Malaysia,4.59725,101.12015
16,294265,Singapore,Singapore,Singapore,1.285801,103.85111
17,1022648,Klang,Selangor,Malaysia,3.039726,101.44049
18,1483707,Gunung Mulu National Park,Sarawak,Malaysia,4.065645,114.93267
19,795950,Tapah,Batang Padang District,Malaysia,4.198387,101.26153
20,1540663,Limbang,Sarawak,Malaysia,4.75471,115.00896
21,2213880,Gopeng,Kampar District,Malaysia,4.47397,101.16691
22,3539442,Poring,Ranau,Malaysia,6.0578,116.7047
23,635753,Semporna,Semporna District,Malaysia,4.47758,118.60969
24,667099,Kuala Tahan,Jerantut District,Malaysia,4.38195,102.40177
25,298314,Sepang,Sepang District,Malaysia,2.69093,101.75114
26,12803532,Port Klang,Selangor,Malaysia,2.999852,101.39283
27,2053325,Pantai Tengah,Langkawi,Malaysia,6.281019,99.729836
28,298309,Kuching,Sarawak,Malaysia,1.52022,110.35362
29,660784,Genting Highlands,Pahang,Malaysia,3.423833,101.79217
30,298278,Johor Bahru,Johor Bahru District,Malaysia,1.473394,103.75248
31,1087671,Ampang,Selangor,Malaysia,3.156205,101.75031
32,4975755,Teluk Bahang,Penang Island,Malaysia,5.449866,100.21595
33,1075066,Sepilok,Sandakan Division,Malaysia,5.866727,117.95548
34,666954,Sri Kembangan,Petaling District,Malaysia,3.01511,101.6992
35,306997,Melaka,Central Melaka District,Malaysia,2.206847,102.25327
36,298316,Shah Alam,Petaling District,Malaysia,3.09201,101.49428
37,3198092,Batu Caves,Selangor,Malaysia,3.242071,101.66702
38,2054893,Bako National Park,Sarawak,Malaysia,1.52022,110.35362
39,7383070,Cheras,Selangor,Malaysia,3.060724,101.7638
40,298291,Pahang,Malaysia,Malaysia,3.62074,102.59239
41,3522354,Balik Pulau,Penang Island,Malaysia,5.34916,100.23938
42,303998,Miri,Miri District,Malaysia,4.320708,113.99225
43,2108703,Bario,Miri District,Malaysia,3.740196,115.46635
44,298302,Penang,Malaysia,Malaysia,5.42382,100.32765
45,1379342,Kuala Besut,Besut District,Malaysia,5.82808,102.55401
46,298293,Brinchang,Cameron Highlands,Malaysia,4.48919,101.39085
47,1096282,Pantai Cenang,Langkawi,Malaysia,6.290657,99.72765
48,303993,Pulau Tioman,Rompin District,Malaysia,None,None
49,303991,Port Dickson,Negeri Sembilan,Malaysia,2.52411,101.79417
50,4340243,Penampang,Sabah,Malaysia,5.877649,116.1034
51,298320,Kuala Terengganu,Terengganu,Malaysia,5.330257,103.13776
52,11981134,Gambang,Kuantan District,Malaysia,3.707709,103.10287
53,12904412,Pulau Carey,Selangor,Malaysia,2.860474,101.3658
54,298305,Putrajaya,Wilayah Persekutuan,Malaysia,2.9365,101.69156
55,1436004,Kota Tinggi,Kota Tinggi District,Malaysia,1.72844,103.89902
56,7741481,Bongawan,Sabah,Malaysia,5.507984,115.87458
57,298292,Cameron Highlands,Pahang,Malaysia,4.46997,101.474
58,1777471,Kuala Selangor,Selangor,Malaysia,3.3405,101.25001
59,298286,Labuan Island,Sabah,Malaysia,5.298827,115.23136
60,2037761,Banting,Kuala Langat District,Malaysia,2.80483,101.49479
61,1500185,Katunayake,Negombo,Sri Lanka,7.15966,79.87023
62,1062560,Ayer Keroh,Central Melaka District,Malaysia,2.265809,102.28505
63,298287,Melaka State,Malaysia,Malaysia,2.20356,102.25293
64,3336465,Tamparuli,Sabah,Malaysia,6.13333,116.26667
65,9584421,Pulau Tiga,Kuala Penyu,Malaysia,5.725684,115.65133
66,298306,Sabah,Malaysia,Malaysia,5.176992,117.13721
67,3845613,Kundasang,Ranau,Malaysia,5.984363,116.57557
68,293951,Malaysia,None,Asia,3.480287,102.47243
69,294078,Georgetown,Demerara-Mahaica,Guyana,6.8,-58.1667
70,3533821,Tawau,Tawau Division,Malaysia,4.2498,117.8871
71,1720863,Kota Belud,Kota Belud District,Malaysia,6.35503,116.42969
72,303992,Bukit Fraser,Raub District,Malaysia,3.71645,101.73812
73,2301861,Bentong,Pahang,Malaysia,3.464074,101.92131
74,304000,Marang,Terengganu,Malaysia,5.207117,103.20231
75,1193625,Bayan Lepas,Penang Island,Malaysia,5.294487,100.25968
76,298419,Salalah,Dhofar Governorate,Oman,17.01493,54.09302
77,297913,Arusha,Arusha Region,Tanzania,-3.37088,36.70122
78,1675220,Sematan,Lundu,Malaysia,1.79517,109.75138
79,298284,Kelantan,Malaysia,Malaysia,6.13544,102.23671
80,294212,Beijing,China,China,39.909336,116.39452
81,1118267,Puchong,Petaling District,Malaysia,3.021212,101.61456
82,1071672,Pulau Manukan,Sabah,Malaysia,5.974077,116.00006
83,6384767,Pantai Kok,Langkawi,Malaysia,6.366303,99.67422
84,304003,Pulau Perhentian Besar,Perhentian Islands,Malaysia,5.904459,102.75642
85,298279,Mersing,Mersing District,Malaysia,2.41956,103.83692
86,298281,Kedah,Malaysia,Malaysia,6.13164,100.38878
87,1813816,Kajang,Hulu Langat District,Malaysia,2.99322,101.78887
88,298282,Alor Setar,Kota Setar District,Malaysia,6.132434,100.38264
89,298297,Perak,Malaysia,Malaysia,4.707828,100.84808
90,14901990,Kuala Kurau,Kerian District,Malaysia,5.018007,100.43176
91,298317,Subang Jaya,Petaling District,Malaysia,3.040402,101.58413
92,2431626,Rawang,Selangor,Malaysia,3.31759,101.57802
93,298296,Kuantan,Kuantan District,Malaysia,3.8963,103.02256
94,298299,Lumut,Manjung District,Malaysia,4.23588,100.63342
95,1450229,Batu Gajah,Kinta District,Malaysia,4.46308,101.04095
96,297889,Incheon,South Korea,South Korea,37.478092,126.64029
97,1905494,Tanjung Bungah,Penang Island,Malaysia,5.467405,100.29242

###### Join attr_href_cat_spark_df, tripad_act_spark_df as attr_spark_df

In [37]:
# join dataframe
attr_spark_df = attr_href_cat_spark_df.join(
                    tripad_act_spark_df, attr_href_cat_spark_df.activityId ==
                    tripad_act_spark_df.activityId)\
                .select(
                    attr_href_cat_spark_df.activityId, attr_href_cat_spark_df.locationId,
                    tripad_act_spark_df.name, tripad_act_spark_df.price,
                    tripad_act_spark_df.rating)

In [38]:
# visualize spark dataframe
attr_spark_df.show()

+----------+----------+--------------------+------+------+
|activityId|locationId|                name| price|rating|
+----------+----------+--------------------+------+------+
|  12962337|    298570|Malaysia Countrys...| 43.27|   4.5|
|  12905660|    298570|Petronas Twin Tow...|119.49|   4.0|
|  11807013|    298570|Discover the Best...|142.75|   4.5|
|  12471375|    298570|Genting Highlands...|103.01|   4.5|
|  12469580|    298570|Half-Day Kuala Lu...| 43.27|   4.0|
|  16722683|    298570|KL Hop On Hop Off...| 53.07|   3.0|
|  11454341|   1096277|Langkawi Archipel...|515.06|   5.0|
|  11812460|    298570|Private Half-Day ...|377.67|   5.0|
|  11992275|   1096277|12 Flights: Zipli...|473.86|   5.0|
|  11991123|    660694|Cheong Fatt Tze G...| 20.61|   4.5|
|  11482502|    298570|Batik Bag Paintin...|119.49|   5.0|
|  19350513|    635527|Chef Samuel's Pri...|700.48|   5.0|
|  11474972|    298303|Half-Day Penang C...|115.81|   5.0|
|  12648212|    298307|North Borneo Crui...|222.48|   4.5|
|  11470871|    298570|Hot Air Balloon F...|947.71|   5.0|
|  12468200|    298570|Private Tour: Kua...|407.98|   5.0|
|  12934938|    303997|Kinabatangan Rive...|568.63|   5.0|
|  11452959|    298570|Small-Group Food ...|243.14|   5.0|
|  16749910|    298283|Langkawi Half Day...| 74.18|   4.0|
|  12939362|    303997|Private Full Day ...|412.11|   4.5|
+----------+----------+--------------------+------+------+
only showing top 20 rows

###### Join tripad_attr_location, attr_spark_df as final_attr_spark_df

In [40]:
# join dataframe
final_attr_spark_df = tripad_loc_spark_df.join(
                    attr_spark_df, tripad_loc_spark_df.locationId ==
                    attr_spark_df.locationId)\
                .select(
                    attr_spark_df.activityId, tripad_loc_spark_df.city, tripad_loc_spark_df.state,
                    tripad_loc_spark_df.country, tripad_loc_spark_df.latitude,
                    tripad_loc_spark_df.longitude, attr_spark_df.name, attr_spark_df.price,attr_spark_df.rating)

In [41]:
# visualize spark dataframe
final_attr_spark_df.show()

+----------+--------------+--------------------+--------+--------+---------+--------------------+------+------+
|activityId|          city|               state| country|latitude|longitude|                name| price|rating|
+----------+--------------+--------------------+--------+--------+---------+--------------------+------+------+
|  12962337|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Malaysia Countrys...| 43.27|   4.5|
|  12905660|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Petronas Twin Tow...|119.49|   4.0|
|  11807013|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Discover the Best...|142.75|   4.5|
|  12471375|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Genting Highlands...|103.01|   4.5|
|  12469580|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Half-Day Kuala Lu...| 43.27|   4.0|
|  16722683|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|KL Hop On Hop Off...| 53.07|   3.0|
|  11454341|          Kuah|            Langkawi|Malaysia|6.326672|99.843025|Langkawi Archipel...|515.06|   5.0|
|  11812460|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Private Half-Day ...|377.67|   5.0|
|  11992275|          Kuah|            Langkawi|Malaysia|6.326672|99.843025|12 Flights: Zipli...|473.86|   5.0|
|  11991123| Penang Island|              Penang|Malaysia|5.388071|100.29352|Cheong Fatt Tze G...| 20.61|   4.5|
|  11482502|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Batik Bag Paintin...|119.49|   5.0|
|  19350513|Batu Ferringhi|       Penang Island|Malaysia|5.471783|100.24629|Chef Samuel's Pri...|700.48|   5.0|
|  11474972|   George Town|       Penang Island|Malaysia|5.411938|100.32664|Half-Day Penang C...|115.81|   5.0|
|  12648212| Kota Kinabalu|Kota Kinabalu Dis...|Malaysia|5.979383|116.07349|North Borneo Crui...|222.48|   4.5|
|  11470871|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Hot Air Balloon F...|947.71|   5.0|
|  12468200|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Private Tour: Kua...|407.98|   5.0|
|  12934938|      Sandakan|   Sandakan Division|Malaysia|5.838944|118.11561|Kinabatangan Rive...|568.63|   5.0|
|  11452959|  Kuala Lumpur| Wilayah Persekutuan|Malaysia|3.156802|101.69717|Small-Group Food ...|243.14|   5.0|
|  16749910|      Langkawi|   Langkawi District|Malaysia|6.351074| 99.75824|Langkawi Half Day...| 74.18|   4.0|
|  12939362|      Sandakan|   Sandakan Division|Malaysia|5.838944|118.11561|Private Full Day ...|412.11|   4.5|
+----------+--------------+--------------------+--------+--------+---------+--------------------+------+------+
only showing top 20 rows